@page
@model AddCertificateModel
@{ ViewData["Title"] = "Add certificate"; }
<h1>@ViewData["Title"]</h1>
@if(!string.IsNullOrEmpty(Model.Confirmation))
{
	<div class="alert alert-success mt-3">
		<h2 class="h4">Confirmation</h2>
		<p class="mb-0">@Model.Confirmation</p>
	</div>
}
@if(!string.IsNullOrEmpty(Model.Error))
{
	<div class="alert alert-danger mt-3">
		<h2 class="h4">Error</h2>
		<p class="mb-0">@Model.Error</p>
		@if(Model.ErrorDetails.Any())
		{
			<ul class="mb-0">
				@foreach(var detail in Model.ErrorDetails)
				{
					<li>@detail</li>
				}
			</ul>
		}
	</div>
}
<p>Password is only required when adding certificates with a private key (pfx-file).</p>
<form enctype="multipart/form-data" method="post">
	<fieldset class="border border-2 border-light p-3 pt-2 rounded-3">
		<div class="mb-3">
			<label asp-for="StoreLocation"></label>
			<select asp-for="StoreLocation" asp-items="@Model.StoreLocations" class="form-control"></select>
		</div>
		<div class="mb-3">
			<label asp-for="StoreName"></label>
			<input asp-for="StoreName" class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="CertificateFile"></label>
			<input asp-for="CertificateFile" class="form-control" type="file" />
		</div>
		<div class="mb-3">
			<label asp-for="Password"></label>
			<input asp-for="Password" class="form-control" type="password" />
		</div>
		<div class="text-end">
			<button class="btn btn-primary" type="submit">Save</button>
		</div>
	</fieldset>
</form>